.recipes_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 0% 4% 0% 4%;
    padding-bottom: 90px;
}

.selected {
    margin-bottom: 50px;
}

.add_recipe_link, .grocery_list_link {
    background-color: #3a3a3a;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 300px;
    text-decoration: none;
}

.add_recipe_link:hover, .grocery_list_link:hover {
    background-color: #F03C05;
}

.recipes_page_header {
    font-size: 30px;
    margin: 10px 0 5px 0;
}

.ar_link_div {
    margin-top: 30px;
}

.gl_link_div {
    margin-top: 50px;
}

.back_to_top_button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #F03C05;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 41px;
    height: 41px;
    font-size: 25px;
    padding-bottom: 5px;
}


@media screen and (max-width: 520px) {
    .recipes_page_header {
        font-size: 25px;
    }
  }