body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  section {
    min-height: 200px;
    padding: 6%;
    background-color: rgb(243, 243, 243);
  }

  .landing {
    padding: 0px;

  }

  h2 {
    font-size: 25px
  }

  .banner {
    background: linear-gradient( rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.418) ), url(/img/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 250px;
    padding: 0;
  }

  .banner h2 {
    margin: auto;
    color: white;
    font-size: 30px;
  }
  
  .get_started {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    background-color: #F39305;
    transition: all 0.3s ease-in-out;
  }

  .get_started:hover {
    background-color: #F03C05;
    color: white;
    cursor: pointer;
    width: 350px;
  }

  .get_started a {
    color: white;
    font-size: 30px;
    text-decoration: none;
  }
  