body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  section {
    padding: 3%;
    background-color: white
  }

  .landing {
    padding: 0px;

  }

  h2 {
    font-size: 25px
  }

  .banner {
    background: linear-gradient( rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.418) ), url(../../img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 250px;
    padding: 0;
  }

  .banner h2 {
    margin: auto;
    color: white;
    font-size: 25px;
  }
  
  .get_started {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    background-color: #EE9300;
    transition: all 0.3s ease-in-out;
    border: none;
  }

  .get_started:hover {
    background-color: #F03C05;
    color: white;
    cursor: pointer;
    width: 350px;
  }

  .get_started a {
    color: white;
    font-size: 30px;
    text-decoration: none;
  }

  .landing_logo {
    margin-top: 20px;
    width: 90px;
  }

  .landing_section {
    padding-bottom: 0;
  }

  .landing_img {
    border-radius: 50%;
    width: 70%;
    margin-top: 30px;
  }

  .get_started_section {
    margin-top: 30px;
  }

  .cwcr_link {
    color: rgb(190, 44, 0);
    text-decoration: none;
  }

  .cwcr_link:hover {
    font-weight: bold;
  }

  @media screen and (min-width: 520px) {
    .banner h2 {
      font-size: 35px;
    }
    .landing_img {
      width: 55%;
      max-width: 400px;
    }
  }
  