.LoginForm {
    max-width: 600px;
    margin: 15px auto;
}

.login_button {
    background-color: #EE9300;
    border-radius: 2px;
    border: none;
    font-size: 20px;
    padding: 3px 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 30px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    height: 37px;
}

.login_button:hover {
    background-color: #F03C05;
}