.recipes_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6%;
    margin-top: 5;
}

.recipe_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    width: 100%;
}

.recipe_link {
    text-decoration: none;
    color: #3a3a3a;
    text-align: left
}

.recipe_link:hover {
    color: rgb(190, 44, 0);
    cursor: pointer;
}

.add_recipe_button {
  background-color: rgb(190, 44, 0);
  border-radius: 2px;
  border: none;
  font-size: 20px;
  padding: 3px 15px;
  margin: 20px auto;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 0 0 20px;
}

.add_recipe_button:hover {
  background-color: #EE9300;;
}

.selected_recipes_div {
    margin-top: 50px;
}